<div class="whole-box">
	<div class="pic-and-info">
		<div class="pic-div">
			<!-- <p>[child first name]</p> -->
			<div class="pic"></div>
			<!-- <p>[child grade]</p> -->
		</div>
		<div class="family-info">
			<p>The <%= pool_family.last_name %> Family</p>
			<p><%= pool_family.address.splitAddress[0] %><%= link_to " (Get Directions)", "https://www.google.com/maps/dir/#{Family.find(session[:user_id]).address}/#{pool_family.address}", :target => "_blank" %></p>
			<p><%= pool_family.address.splitAddress[1] %></p>
			<p><%= pool_family.info %></p>
		</div>
	</div>
	<div class="explanation"><h5>Weekly savings by carpooling with the <%= pool_family.last_name %> family:</h5></div>
	<div class="pool-info">
		<div class="first-row">
			<div class="chart_time">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3 class="savings-text"><%= ((hs_time - hps_time).round.to_i).pretty_duration %></h3>
			</div>
			<div class="chart_miles">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3 class="savings-text"><%= (hs_distance - hps_distance).round(2) %> Miles</h3>
			</div>
		</div>
		<div class="second-row">
			<div class="chart_emissions">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3 class="savings-text"><%= (hs_emissions - hps_emissions).round(2) %> pounds CO2</h3>
			</div>
			<div class="chart_gas">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3 class="savings-text">$<%= (hs_dollars - hps_dollars).round(2) %></h3>
				<!-- <h6>($<%= cur_price %>/gallon)</h6> -->
			</div>
		</div>
	</div>
	<div class="send-message">
		<p>Send them an email: <%= mail_to pool_family.email, pool_family.email, subject: "Carpool Request", body: "Hello " + pool_family.last_name + " family! \n \n After visiting the school's Pool-Portal website today, we noticed that you live pretty close by and were wondering if you might want to carpool with our family. We have a [SON/DAUGHTER], [NAME] in [__TH] grade. \n \n Our number is " + pool_family.phone + ". Give us a call and let's see if we might be able to work something out! \n \n Best wishes, \n \n the " + Family.find(session[:user_id]).last_name + "'s"%></p>
		<p>Call them: <%= pool_family.phone %></p>
		<p>This is a TEST</p>
	</div>
</div>