
<div class="whole-box">
	<div class="pic-and-info">
		<div class="pic-div">
			<!-- <p>[child first name]</p> -->
			<div class="pic"></div>
			<!-- <p>[child grade]</p> -->
		</div>
		<div class="family-info">
			<p>The <%= pool_family.last_name %> Family</p>
			<p><%= pool_family.address.splitAddress[0] %></p>
			<p><%= pool_family.address.splitAddress[1] %></p>
		</div>
	</div>
	<div class="explanation">Weekly expenditures alone vs. carpooling with the <%= pool_family.last_name %>'s:</div>
	<div class="pool-info">
		<div class="first-row">
			<div class="chart_time"></div>
			<div class="chart_miles"></div>
		</div>
		<div class="second-row">
			<div class="chart_emissions"></div>
			<div class="chart_gas"></div>
		</div>
	</div>
	<div class="send-message">
		<p>Get in touch with them!</p>
		<p>Send them an email: <%= mail_to pool_family.email, pool_family.email, subject: "Carpool Request", body: "Hello " + pool_family.last_name + " family! \n \n After visiting the school's Pool-Portal website today, we noticed that you live pretty close by and were wondering if you might want to carpool with our family. We have a [SON/DAUGHTER], [NAME] in [__TH] grade. \n \n Our number is " + pool_family.phone + ". Give us a call and let's see if we might be able to work something out! \n \n Best wishes, \n \n the " + Family.find(session[:user_id]).last_name + "'s"%></p>
		<p>Call them: <%= pool_family.phone %></p>
	</div>
</div>