<br>
<br>

<div class="family-show">
	<p><%= family.last_name %></p>
	<p><%= family.address %></p>
	<p><%= family.password %></p>
	<p><%= family.phone %></p>
	<p><%= family.email %></p>
</div>

<p class="ajax-edit"><%= link_to 'Edit', edit_family_path(family) %></p>